

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(156, 156, 201);
} 

.my-text {
  color: blue;
}

.main-button {
  color: lightgray;
  background-color: limegreen;
  border: none;
  padding: 8px;

}

.main-button:active {
cursor: grab;
}
body {
  background-color: beige;
}

.footer {
background-color: beige;
height: 25px;
}

.item-image {
  height: 100px;
  
}